---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import km1 from "../assets/kashmir-1.jpg";
import km2 from "../assets/kashmir-2.jpg";
import km3 from "../assets/kashmir-3.jpg";
import km4 from "../assets/kashmir-4.jpg";

const images = [km1, km2, km3, km4];
---

<Layout>
  <div class="w-full flex flex-col flex-1 items-center">
    <Carousel images={images} />
    <div
      class="flex-1 bg-kashmir bg-no-repeat bg-cover bg-center p-2 flex flex-col items-center lg:w-[50%]"
    >
      <div class="w-full text-center">
        <h2 class="text-[2rem]">Jammu & Kashmir</h2>
      </div>
      <div
        class="w-full p-2 text-justify font-semibold bg-white bg-opacity-50 mt-6 rounded-lg"
      >
        <p class="text-md">
          Kashmir is known as the "Paradise on Earth" because of its natural beauty, including its lakes, mountains, valleys, and gardens.
          Kashmir is said to resemble the garden of Eden described in religious and folk texts. 
          Jahangir famously said, “Gar firdaus, ruhe zamin ast, hamin asto, hamin asto, hamin ast” (If there is ever a heaven on earth, it's here, it's here, it's here).
        </p>
      </div>
    </div>
  </div>
</Layout>
