---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import mp1 from "../assets/mp1.jpg";
import mp2 from "../assets/mp2.jpg";
import mp3 from "../assets/mp3.jpg";
import mp4 from "../assets/mp4.jpg";

const images = [mp1, mp2, mp3, mp4];
---

<Layout>
  <div class="w-full flex flex-col flex-1 items-center">
    <Carousel images={images} />
    <div
      class="flex-1 bg-madhyapradesh bg-no-repeat bg-cover bg-center p-2 flex flex-col items-center lg:w-[50%]"
    >
      <div class="w-full text-center">
        <h2 class="text-[2rem]">Madhya Pradesh</h2>
      </div>
      <div
        class="w-full p-2 text-justify font-semibold bg-white bg-opacity-50 mt-6 rounded-lg"
      >
        <p class="text-md">
          The area covered by the present-day Madhya Pradesh includes the area of the ancient Avanti Mahajanapada,
          whose capital Ujjain (also known as Avantika) arose as a major city during the second wave of Indian urbanisation in the sixth century BCE. Some years after India's independence,
          the Central Provinces and Berar was renamed as Madhya Pradesh with Nagpur as its capital.
        </p>
      </div>
    </div>
  </div>
</Layout>
