---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import mh1 from "../assets/mh-1.jpg";
import mh2 from "../assets/mh-2.jpg";
import mh3 from "../assets/mh-3.jpg";
import mh4 from "../assets/mh-4.jpg";

const images = [mh1, mh2, mh3, mh4];
---

<Layout>
  <div class="w-full flex flex-col flex-1 items-center">
    <Carousel images={images} />
    <div
      class="flex-1 bg-maharashtra bg-no-repeat bg-cover bg-center p-2 flex flex-col items-center lg:w-[50%]"
    >
      <div class="w-full text-center">
        <h2 class="text-[2rem]">Maharashtra</h2>
      </div>
      <div
        class="w-full p-2 text-justify font-semibold bg-white bg-opacity-50 mt-6 rounded-lg"
      >
        <p class="text-md">
          Maharashtra was ruled by the Maurya Empire in the 4th and 3rd century BCE. One of the Major Rock Edicts of the Maurya king Ashoka was located at Sopara, near present-day Mumbai.
          Around 230 BCE, the Maharashtra region was taken over by the Satavahana dynasty, which ruled the area for the next 400 years.
          Prior to India's independence from British rule in 1947, the region that is now Maharashtra was a part of the Bombay Presidency.
        </p>
      </div>
    </div>
  </div>
</Layout>
