---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import ng1 from "../assets/ng1.jpg";
import ng2 from "../assets/ng2.jpg";
import ng3 from "../assets/ng3.jpg";
import ng4 from "../assets/ng4.jpg";

const images = [ng1, ng2,ng3,ng4];
---

<Layout>
  <div class="w-full flex flex-col flex-1 items-center">
    <Carousel images={images} />
    <div
      class="flex-1 bg-nagaland bg-no-repeat bg-cover bg-center p-2 flex flex-col items-center lg:w-[50%]"
    >
      <div class="w-full text-center">
        <h2 class="text-[2rem]">Nagaland</h2>
      </div>
      <div
        class="w-full p-2 text-justify font-semibold bg-white bg-opacity-50 mt-6 rounded-lg"
      >
        <p class="text-md">
          The origin of the Naga people
          A Mao folklore tells the story of a mother who gave birth to three sons after being impregnated by clouds while sleeping under a banyan tree. The sons were Tiger, God, and Man.
          When the mother was old, the brothers fought over her inheritance, which they believed was the earth, or her navel. 
          The mother held a competition to settle the dispute, where the first to touch a grass ball would win.
          The mother favored Man and helped him win by suggesting he use a bow and arrow.
          The brothers separated and Man still follows traditions to appease his brothers so they can be united again.
        </p>
      </div>
    </div>
  </div>
</Layout>
