---

---

<div
  class="w-full p-4 flex items-center justify-center font-medium text-[22px]"
>
  <h2 style="font-family: 'Times New Roman', Times, serif;">
    WELCOME TO  
    <span style="color: teal;">E</span>
    <span style="color: olive;">L</span>
    <span style="color: maroon;">I</span>
    <span style="color: navy;">A</span>
    <span style="color: plum;"> &nbsp;</span>
    <span style="color: fuchsia;">U</span>
    <span style="color: mediumturquoise;">T</span>
    <span style="color: sienna;">S</span>
    <span style="color: chartreuse;">A</span>
    <span style="color: orchid;">V</span>
</h2>

</div>
